aplikasi/TokoMaterial_App/TokoMaterial_App/xml/koneksi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="koneksi">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="username"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="server"/>
        <xs:element type="xs:string" name="database"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

